.App{
  font-family: 'roboto', sans-serif;
}
.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #010203;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(192, 20, 20, 0.3);
}

.ant-Layout{
  min-height: 90vh;
}