.App{
  font-family: 'roboto', sans-serif;
}
.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #010203;
}

.logo {
  height: 38px;
  margin: 0px;
  
  background-color:lightskyblue;
}

.ant-Layout{
  min-height: 100vh;
}

.ant-menu-item {
  margin: 10px 0;
}

.ant-Layout-sider{
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
}

.ant-Layout-sider-collapsed{
  flex: 0 0 30px !important;
  max-width: 30px !important;
  min-width: 30px !important;
  width: 30px !important;
}

.logo.sm-Logo{
  display: none;

}

.ant-Layout-sider-collapsed .sm-Logo{
  display: block;
}

.ant-Layout-sider-collapsed .lg-Logo{
  display: none;
}

main{
  overflow-y: scroll;
}

.img{
  width: 65px;
  height: 62px;
}

.img2{
  width: 35px;
  height: 35px;
}
.ant-layout-header h5 {
  margin-top: 10px;
  line-height: 25px;
}
.ant-layout-header p {
  line-height: 10px;
}
.ant-layout-content{
  background: transparent !important;
  background-image: url(https://media.istockphoto.com/id/1135638647/photo/white-lines-and-spheres.jpg?b=1&s=170667a&w=0&k=20&c=KlFMDLyLj_V_AbGjSXaUxcuIb_7NN1s8cBRPYlfZqhw=)!important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
 
  
}
.cardsdiv{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 
}

.cardsdiv h4{
  margin-top: 30px;
}